.field-caption {
  display: block;
  color: #818783;
  font: 7px var(--mono);
  letter-spacing: .1em;
}

.protocol.websocket {
  border: 1px solid #b995ff;
  color: #c5a8ff;
  background: rgba(185, 149, 255, .08);
}

.protocol.mysql {
  border: 1px solid #5f9dff;
  color: #78adff;
  background: rgba(95, 157, 255, .08);
}

.protocol.postgres {
  border: 1px solid #d9a8ff;
  color: #dfb9ff;
  background: rgba(217, 168, 255, .08);
}

.protocol.elasticsearch {
  border: 1px solid #f2b84b;
  color: #ffd078;
  background: rgba(242, 184, 75, .08);
}

.protocol.mongodb {
  border: 1px solid #62d48d;
  color: #7be5a3;
  background: rgba(98, 212, 141, .08);
}

.protocol.rabbitmq {
  border: 1px solid #ff9f43;
  color: #ffb265;
  background: rgba(255, 159, 67, .08);
}

.protocol.grpc {
  border: 1px solid #51c2a3;
  color: #72ddbf;
  background: rgba(81, 194, 163, .08);
}
